<div class="page" ng-controller="ProjectHistoryCtrl">
	<div class="row ui-section">
		<div class="col-md-12">
			<section class="panel panel-default">
				<div class="panel-body">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Project History</div>
							<div class="panel-body no-padding">
								<md-content style="height: 500px;">
									<section ng-repeat="d in ProjectHistoryData">
										<md-subheader class="md-primary">{{d.date}}</md-subheader>
										<md-list layout-padding="">
											<md-list-item class="md-3-line" ng-repeat="p in d.projects">
												<md-button class="md-fab md-primary" aria-label="{{p.Name}}"><span>{{p.CompletionPercentage}}%</span></md-button><div class="space"></div>
												<div class="md-list-item-text">
													<h3><a href="#/project/{{p.Id}}">PROJ{{p.Id}} - {{p.Name}}</a></h3>
													<h4>{{p.CreatedBy}}</h4>
													<p>
														{{p.Scope}}
													</p>
												</div>
											</md-list-item>
										</md-list>
									</section>
								</md-content>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
