<div class="page page-project page-project-define" ng-controller="ProjectMeasureCtrl">
	<header class="project-header">
		<div class="project-header-text">
			{{projectDetail.Name}} - Measure Phase
		</div>
		<div class="project-info">
			<ul class="list-unstyled list-inline">
				<li>PROJ{{projectId}}</li>
				<li><i class="fa fa-check"></i> Tasks <span class="text-muted">({{$root.currentProject.tasksLeft}})</span></li>
				<li class="pull-right back-to-project"><a href="#/project/{{projectId}}"><i class="zmdi zmdi-arrow-left"></i> Back To Project</a></li>
			</ul>
		</div>
	</header>
	<div class="row ui-section">
		<section class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div class="ui-tab-container ui-tab-vertical">
							<uib-tabset class="ui-tab">
								<uib-tab ng-click="activateTab(0)" active="activeTab[0]">
									<uib-tab-heading>
										<span>Non-Value Analysis</span>
										<div class="ui-ribbon-container ui-ribbon-success">
											<div class="ui-ribbon-wrapper" ng-show="phaseDetail.NonValue_Analysis.Status != 'working'">
												<div class="ui-ribbon">
													<i class="fa fa-fw fa-check"></i>
												</div>
											</div>
										</div>
									</uib-tab-heading>
									<div class="row subphase-header">
										<div class="col-sm-12">
											<md-menu md-position-mode="target-right target" class="pull-right">
												<md-button aria-label="Open Menu" class="md-icon-button subphase-menu-button" ng-click="generateNonValueAnalysisExportData();$mdOpenMenu($event)">
													<md-icon md-menu-origin><span class="fa fa-info-circle"></span></md-icon>
												</md-button>
												<md-menu-content width="2">
													<md-menu-item ng-show="!walkthroughs.non_value_analysis"><md-button ng-click="showWalkthrough('non_value_analysis', nonValueAnalysisData)"> <span md-menu-align-target>Show Walkthrough</span></md-button></md-menu-item>
													<md-menu-item ng-show="walkthroughs.non_value_analysis"><md-button ng-click="hideWalkthrough('non_value_analysis')"> <span md-menu-align-target>Skip Walkthrough</span></md-button></md-menu-item>
													<md-menu-item ng-show="!walkthroughs.non_value_analysis">
														<a download="Non_Value_Analysis.xlsx" href="{{exportNonValueAnalysisBlobLink}}" md-menu-align-target class="md-button md-ink-ripple">Export Data</a>
													</md-menu-item>
												</md-menu-content>
											</md-menu>
										</div>
									</div>
									<div class="row" ng-show="walkthroughs.non_value_analysis">
										<div class="col-sm-12" data-phase-component="non_value_analysis" style="text-align:center">
											<p style="font-weight:100; font-size:2em; margin-bottom:20px">Let's create some value by analyzing our non-values....</p>
											<div class="l6_step" data-step-required="Waste">
												<p class="lead">What type of waste was discovered in the process?<br/>(Redundancy, staff level, etc.)</p>
												<div layout layout-align="center" style="text-align:left">
													<md-input-container flex-gt-sm="80" flex="100">
														<label>Waste</label>
														<textarea ng-blur="validateField($event, nonValueAnalysisData[nonValueAnalysisData.length - 1])" ng-model="nonValueAnalysisData[nonValueAnalysisData.length - 1].Waste"></textarea>
													</md-input-container>
												</div>
											</div>
											<div class="l6_step" data-step-required="Improvements">
												<p class="lead">What improvements can be done to eliminate/reduce waste?<br/> (Reduced frequency, reduced staff, etc.)</p>
												<div layout layout-align="center" style="text-align:left">
													<md-input-container flex-gt-sm="80" flex="100">
														<label>Improvements</label>
														<textarea ng-blur="validateField($event, nonValueAnalysisData[nonValueAnalysisData.length - 1])" ng-model="nonValueAnalysisData[nonValueAnalysisData.length - 1].Improvements"></textarea>
													</md-input-container>
												</div>
											</div>
											<div class="l6_step_submit" ng-if="walkthroughShouldShowSubmit()">
												<md-button class="md-raised btn-w-md md-primary" ng-click="hideWalkthrough('non_value_analysis')">Submit</md-button>
											</div>
											<div class="l6_step_next" ng-if="walkthroughShouldShowNext()">
												<md-button class="btn-next-step md-raised md-accent btn-w-md" ng-click="goToNextStep()">Next Step <i class="fa fa-fw fa-angle-right"></i></md-button>
											</div>
										</div>
									</div>
									<div class="row" ng-show="!walkthroughs.non_value_analysis">
										<div class="col-sm-12">
											<div class="row">
												<div class="col-sm-12">
													<div class="table-responsive">
														<table class="table table-striped table-bordered no-margin" id="non-value-analysis-table">
															<thead>
																<tr>
																	<th></th>
																	<th>Waste</th>
																	<th>Improvements</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="s in nonValueAnalysisData" ng-show="!s.isDeleted">
																	<td style="text-align:center; width: 45px"><md-button class="md-fab md-warn md-fab-xxs" aria-label="delete" ng-click="deleteRow(nonValueAnalysisData,$index)"><span class="zmdi zmdi-close"></span></md-button></td>
																	<td contentEditable="true" ng-model="nonValueAnalysisData[$index].Waste" ng-bind-html="nonValueAnalysisData[$index].Waste"></td>
																	<td contentEditable="true" ng-model="nonValueAnalysisData[$index].Improvements" ng-bind-html="nonValueAnalysisData[$index].Improvements"></td>
																</tr>
																<tr><td colspan="3"><div layout="column"><button ui-wave type="button" class="btn btn-warning btn-w-md ui-wave" ng-click="addRow(nonValueAnalysisData,'non_value_analysis')"><span class="ink wave-animate"></span>Add Row</button></div></td></tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="row" style="margin-top:10px">
												<div class="col-sm-12">
													<md-button class="md-raised md-primary btn-w-md md-button md-ink-ripple pull-right" ng-transclude="" ng-click="submitNonValueAnalysis()"><span class="ng-scope">Save Changes</span><div class="md-ripple-container"></div></md-button>
													<md-button class="md-raised md-accent btn-w-md md-button md-ink-ripple pull-right" style="margin-right:10px;" ng-transclude="" ng-click="completePhaseComponent('Measure','Non-Value Analysis')"><span class="ng-scope">{{(phaseDetail.NonValue_Analysis.Status != 'working') ? 'Mark Incomplete' : 'Mark Complete'}}</span><div class="md-ripple-container"></div></md-button>
												</div>
											</div>
										</div>
									</div>
								</uib-tab>
								<uib-tab ng-click="activateTab(1)" active="activeTab[1]">
									<uib-tab-heading>
										<span>Collection Plan</span>
										<div class="ui-ribbon-container ui-ribbon-success">
											<div class="ui-ribbon-wrapper" ng-show="phaseDetail.Collection_Plan.Status != 'working'">
												<div class="ui-ribbon">
													<i class="fa fa-fw fa-check"></i>
												</div>
											</div>
										</div>
									</uib-tab-heading>
									<div class="row subphase-header">
										<div class="col-sm-12">
											<md-menu md-position-mode="target-right target" class="pull-right">
												<md-button aria-label="Open Menu" class="md-icon-button subphase-menu-button" ng-click="generateCollectionPlanExportData();$mdOpenMenu($event)">
													<md-icon md-menu-origin><span class="fa fa-info-circle"></span></md-icon>
												</md-button>
												<md-menu-content width="2">
													<md-menu-item ng-show="!walkthroughs.collection_plan"><md-button ng-click="showWalkthrough('collection_plan', collectionPlanData)"> <span md-menu-align-target>Show Walkthrough</span></md-button></md-menu-item>
													<md-menu-item ng-show="walkthroughs.collection_plan"><md-button ng-click="hideWalkthrough('collection_plan')"> <span md-menu-align-target>Skip Walkthrough</span></md-button></md-menu-item>
													<md-menu-item ng-show="!walkthroughs.collection_plan">
														<a download="Collection_Plan.xlsx" href="{{exportCollectionPlanBlobLink}}" md-menu-align-target class="md-button md-ink-ripple">Export Data</a>
													</md-menu-item>
												</md-menu-content>
											</md-menu>
										</div>
									</div>
									<div class="row" ng-show="walkthroughs.collection_plan">
										<div class="col-sm-12" data-phase-component="collection_plan" style="text-align:center">
											<p style="font-weight:100; font-size:2em; margin-bottom:20px">Now it's time to consider some data collection methods!</p>
											<div class="l6_step" data-step-required="Measure,MeasureType">
												<p class="lead">What input, output,or process measure will be used to collect data? (Speed, Time, etc.)</p>
												<div layout layout-align="center" style="text-align:left">
													<md-input-container flex-gt-sm="60" flex="100">
														<label>Measure</label>
														<input type="text" ng-blur="validateField($event, collectionPlanData[collectionPlanData.length - 1])" ng-model="collectionPlanData[collectionPlanData.length - 1].Measure">
													</md-input-container>
													<md-input-container flex-gt-sm="40" flex="100">
														<label>Type of Measure</label>
														<md-select multiple ng-blur="validateField($event, collectionPlanData[collectionPlanData.length - 1])" ng-model="collectionPlanData[collectionPlanData.length - 1].MeasureType" aria-label="select">
															<md-option ng-repeat="c in [{val:'O',txt:'Output'},{val:'I',txt:'Input'},{val:'P',txt:'Process'}]" value="{{c.val}}"> {{c.txt}} </md-option>
														</md-select>
													</md-input-container>
												</div>
											</div>
											<div class="l6_step" data-step-required="DataType">
												<p class="lead">Is this collection measure Continuous or Discrete?</p>
												<div layout layout-align="center" style="text-align:left">
													<md-input-container flex-gt-sm="50" flex="100">
														<label>Type of Data</label>
														<md-select multiple ng-blur="validateField($event, collectionPlanData[collectionPlanData.length - 1])" ng-model="collectionPlanData[collectionPlanData.length - 1].DataType" aria-label="select">
															<md-option ng-repeat="c in ['Continuous','Discrete']" value="{{c}}"> {{c}} </md-option>
														</md-select>
													</md-input-container>
												</div>
											</div>
											<div class="l6_step" data-step-required="OperationalDefinition">
												<p class="lead">What is the operational definition of the collection measure? <br/>(e.g. Time to process report once database is populated)</p>
												<div layout layout-align="center" style="text-align:left">
													<md-input-container flex-gt-sm="80" flex="100">
														<label>Operational Definition</label>
														<textarea ng-blur="validateField($event, collectionPlanData[collectionPlanData.length - 1])" ng-model="collectionPlanData[collectionPlanData.length - 1].OperationalDefinition"></textarea>
													</md-input-container>
												</div>
											</div>
											<div class="l6_step" data-step-required="Specification,Target">
												<p class="lead">What is the minimum product/service to the customer and target performance level?</p>
												<div layout layout-align="center" style="text-align:left">
													<md-input-container flex-gt-sm="50" flex="100">
														<label>Specification (e.g. 30 minutes, 1 ounce, etc.)</label>
														<input type="text" ng-blur="validateField($event, collectionPlanData[collectionPlanData.length - 1])" ng-model="collectionPlanData[collectionPlanData.length - 1].Specification">
													</md-input-container>
													<md-input-container flex-gt-sm="50" flex="100">
														<label>Target (e.g. 8 minutes, 10 grams, etc.)</label>
														<input type="text" ng-blur="validateField($event, collectionPlanData[collectionPlanData.length - 1])" ng-model="collectionPlanData[collectionPlanData.length - 1].Target">
													</md-input-container>
												</div>
											</div>
											<div class="l6_step" data-step-required="DataCollectionForm">
												<p class="lead">How do you plan on collecting this data? (Histogram, checksheet, etc.)</p>
												<div layout layout-align="center" style="text-align:left">
													<md-input-container flex-gt-sm="80" flex="100">
														<label>Collection Form</label>
														<input type="text" ng-blur="validateField($event, collectionPlanData[collectionPlanData.length - 1])" ng-model="collectionPlanData[collectionPlanData.length - 1].DataCollectionForm">
													</md-input-container>
												</div>
											</div>
											<div class="l6_step" data-step-required="Sampling">
												<p class="lead">What method will be used to obtain information from the entire population? (Representative, 100% Daily, etc.)</p>
												<div layout layout-align="center" style="text-align:left">
													<md-input-container flex-gt-sm="80" flex="100">
														<label>Sampling</label>
														<input type="text" ng-blur="validateField($event, collectionPlanData[collectionPlanData.length - 1])" ng-model="collectionPlanData[collectionPlanData.length - 1].Sampling">
													</md-input-container>
												</div>
											</div>
											<div class="l6_step" data-step-required="BaselineSigma">
												<p class="lead">What Baseline will be used?</p>
												<div layout layout-align="center" style="text-align:left">
													<md-input-container flex-gt-sm="50" flex="100">
														<label>Baseline Sigma</label>
														<md-select ng-blur="validateField($event, collectionPlanData[collectionPlanData.length - 1])" ng-model="collectionPlanData[collectionPlanData.length - 1].BaselineSigma" aria-label="select">
															<md-option ng-repeat="c in ['UDO','UDPO']" value="{{c}}"> {{c}} </md-option>
														</md-select>
													</md-input-container>
												</div>
											</div>
											<div class="l6_step_submit" ng-if="walkthroughShouldShowSubmit()">
												<md-button class="md-raised btn-w-md md-primary" ng-click="hideWalkthrough('collection_plan')">Submit</md-button>
											</div>
											<div class="l6_step_next" ng-if="walkthroughShouldShowNext()">
												<md-button class="btn-next-step md-raised md-accent btn-w-md" ng-click="goToNextStep()">Next Step <i class="fa fa-fw fa-angle-right"></i></md-button>
											</div>
										</div>
									</div>
									<div class="row" ng-show="!walkthroughs.collection_plan">
										<div class="col-sm-12">
											<div class="row">
												<div class="col-sm-12">
													<div class="table-responsive">
														<table class="table table-striped table-bordered no-margin" id="collection-plan-table">
															<thead>
																<tr>
																	<th></th>
																	<th>Measure</th>
																	<th>Type of Measure</th>
																	<th>Type of Data</th>
																	<th>Operational Definition</th>
																	<th>Specification</th>
																	<th>Target</th>
																	<th>Data Collection Form</th>
																	<th>Sampling</th>
																	<th>Baseline Sigma</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="s in collectionPlanData" ng-show="!s.isDeleted">
																	<td style="text-align:center; width: 45px"><md-button class="md-fab md-warn md-fab-xxs" aria-label="delete" ng-click="deleteRow(collectionPlanData,$index)"><span class="zmdi zmdi-close"></span></md-button></td>
																	<td contentEditable="true" ng-model="collectionPlanData[$index].Measure" ng-bind-html="collectionPlanData[$index].Measure"></td>
																	<td contentEditable="true" ng-model="collectionPlanData[$index].MeasureType" ng-bind-html="collectionPlanData[$index].MeasureType"></td>
																	<td contentEditable="true" ng-model="collectionPlanData[$index].DataType" ng-bind-html="collectionPlanData[$index].DataType"></td>
																	<td contentEditable="true" ng-model="collectionPlanData[$index].OperationalDefinition" ng-bind-html="collectionPlanData[$index].OperationalDefinition"></td>
																	<td contentEditable="true" ng-model="collectionPlanData[$index].Specification" ng-bind-html="collectionPlanData[$index].Specification"></td>
																	<td contentEditable="true" ng-model="collectionPlanData[$index].Target" ng-bind-html="collectionPlanData[$index].Target"></td>
																	<td contentEditable="true" ng-model="collectionPlanData[$index].DataCollectionForm" ng-bind-html="collectionPlanData[$index].DataCollectionForm"></td>
																	<td contentEditable="true" ng-model="collectionPlanData[$index].Sampling" ng-bind-html="collectionPlanData[$index].Sampling"></td>
																	<td contentEditable="true" ng-model="collectionPlanData[$index].BaselineSigma" ng-bind-html="collectionPlanData[$index].BaselineSigma"></td>
																</tr>
																<tr><td colspan="10"><div layout="column"><button ui-wave type="button" class="btn btn-warning btn-w-md ui-wave" ng-click="addRow(collectionPlanData,'collection_plan')"><span class="ink wave-animate"></span>Add Row</button></div></td></tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="row" style="margin-top:10px">
												<div class="col-sm-12">
													<md-button class="md-raised md-primary btn-w-md md-button md-ink-ripple pull-right" ng-transclude="" ng-click="submitCollectionPlan()"><span class="ng-scope">Save Changes</span><div class="md-ripple-container"></div></md-button>
													<md-button class="md-raised md-accent btn-w-md md-button md-ink-ripple pull-right" style="margin-right:10px;" ng-transclude="" ng-click="completePhaseComponent('Measure','Collection Plan')"><span class="ng-scope">{{(phaseDetail.Collection_Plan.Status != 'working') ? 'Mark Incomplete' : 'Mark Complete'}}</span><div class="md-ripple-container"></div></md-button>
												</div>
											</div>
										</div>
									</div>
								</uib-tab>
								<uib-tab ng-click="activateTab(2)" active="activeTab[2]">
								  <uib-tab-heading>
								    <span>Histogram</span>
								    <div class="ui-ribbon-container ui-ribbon-success">
								      <div class="ui-ribbon-wrapper" ng-show="phaseDetail.Histogram.Status != 'working'">
								        <div class="ui-ribbon">
								          <i class="fa fa-fw fa-check"></i>
								        </div>
								      </div>
								    </div>
								  </uib-tab-heading>
								  <div class="row subphase-header">
								    <div class="col-sm-12">
								      <md-menu md-position-mode="target-right target" class="pull-right">
								        <md-button aria-label="Open Menu" class="md-icon-button subphase-menu-button" ng-click="generateHistogramDataExport();generateHistogramChartExport();$mdOpenMenu($event)">
								          <md-icon md-menu-origin><span class="fa fa-info-circle"></span></md-icon>
								        </md-button>
								        <md-menu-content width="2">
								          <md-menu-item ng-show="!walkthroughs.histogram">
								            <md-button ng-click="showWalkthrough('histogram', regressionWalkthroughData)"> <span md-menu-align-target>Show Walkthrough</span></md-button>
								          </md-menu-item>
								          <md-menu-item ng-show="walkthroughs.histogram">
								            <md-button ng-click="hideWalkthrough('histogram')"> <span md-menu-align-target>Skip Walkthrough</span></md-button>
								          </md-menu-item>
								          <md-menu-item ng-show="!walkthroughs.histogram"><a download="Histogram.xlsx" href="{{exportHistogramDataBlobLink}}" md-menu-align-target class="md-button md-ink-ripple">Export Data</a></md-menu-item>
								          <md-menu-item ng-show="!walkthroughs.histogram"><a download="Histogram.png" href="{{exportHistogramChartLink}}" md-menu-align-target class="md-button md-ink-ripple">Export Chart</a></md-menu-item>
								        </md-menu-content>
								      </md-menu>
								    </div>
								  </div>
								  <div class="row" ng-show="walkthroughs.histogram">
								    <div class="col-sm-12" data-phase-component="histogram" style="text-align:center">
								      <p style="font-weight:100; font-size:2em; margin-bottom:20px">Let's Develop your Histogram!</p>
								      <div class="l6_step">
								        <p class="lead">First we need to collect some Data.</p>
								        <p class="lead">What will be the title of the Data being collected?</p>
								        <div layout layout-align="center" style="text-align:left">
								          <md-input-container flex-gt-sm="60" flex="100">
								            <label>Histogram Title</label>
								            <input type="text" ng-blur="validateField($event, histogramWalkthroughData)" ng-model="histogramWalkthroughData.Title" />
								          </md-input-container>
								        </div>
								      </div>
								      <div class="l6_step">
								        <p class="lead">Please enter your Data in the pre-field fields below (Simply type over the existing data).</p>
								        <p class="lead">You can also Add (+) new rows or columns Or Delete (-) rows or columns.</p>
								        <div flex-gt-sm="100" flex="100">
								          <table class="table table-striped table-condensed no-margin">
								            <thead class="text-center">
								              <tr>
								                <th colspan="{{ histogramWalkthroughData.Input[0].length + 3 }}" style="text-align:left;">
								                  <span>{{ histogramWalkthroughData.Title }}</span>
								                </th>
								              </tr>
								              <tr>
								                <th ng-repeat="(inputColIndex, inputCol) in histogramWalkthroughData.Input[0] track by $index">
								                  <md-button class="md-raised md-fab md-mini md-warn btn-w-md md-button md-ink-ripple" ng-transclude="" ng-click="histogramWalkthroughData.removeInputCol(inputColIndex)">
								                    <span class="ng-scope"><i class="zmdi zmdi-minus"></i></span>
								                    <div class="md-ripple-container"></div>
								                  </md-button>
								                </th>
								                <th>
								                  <md-button class="md-raised md-fab md-mini md-primary btn-w-md md-button md-ink-ripple" ng-transclude="" ng-click="histogramWalkthroughData.addInputCol()">
								                    <span class="ng-scope"><i class="zmdi zmdi-plus"></i></span>
								                    <div class="md-ripple-container"></div>
								                  </md-button>
								                </th>
								              </tr>
								            </thead>
								            <tbody id="histogram_inputs">
								              <tr ng-repeat="(inputRowIndex, inputRow) in histogramWalkthroughData.Input track by $index">
								                <td ng-repeat="(inputColIndex, inputCol) in inputRow track by $index">
								                  <md-input-container>
								                    <input type="number" ng-model="histogramWalkthroughData.Input[inputRowIndex][inputColIndex]" ng-keypress="validateField($event, histogramWalkthroughData)" ng-click="validateField($event, histogramWalkthroughData)" ng-blur="validateField($event, histogramWalkthroughData)">
								                  </md-input-container>
								                </td>
								                <td colspan="2">
								                  <md-button class="md-raised md-fab md-mini md-warn btn-w-md md-button md-ink-ripple" ng-transclude="" ng-click="histogramWalkthroughData.removeInputRow(inputRowIndex)">
								                    <span class="ng-scope"><i class="zmdi zmdi-minus"></i></span>
								                    <div class="md-ripple-container"></div>
								                  </md-button>
								                </td>
								                <td></td>
								              </tr>
								            </tbody>
								            <tfoot>
								              <tr>
								                <td style="border-right:0;" colspan="{{ histogramWalkthroughData.Input[0].length + 3 }}">
								                  <md-button class="md-raised md-fab md-mini md-primary btn-w-md md-button md-ink-ripple" ng-transclude="" ng-click="histogramWalkthroughData.addInputRow()">
								                    <span class="ng-scope"><i class="zmdi zmdi-plus"></i></span>
								                    <div class="md-ripple-container"></div>
								                  </md-button>
								                </td>
								              </tr>
								            </tfoot>
								          </table>
								        </div>
								      </div>
							        <div class="l6_step_submit" ng-if="walkthroughShouldShowSubmit()">
							          <md-button class="md-raised btn-w-md md-primary" ng-click="completeHistogramWalkthrough()">Submit</md-button>
							        </div>
							        <div class="l6_step_next" ng-if="walkthroughShouldShowNext()">
							          <md-button class="btn-next-step md-raised md-accent btn-w-md" ng-click="goToNextStep()">Next Step <i class="fa fa-fw fa-angle-right"></i></md-button>
							        </div>
								    </div>
								  </div>
								  <div class="row" ng-show="!walkthroughs.histogram">
								    <div class="col-sm-12">
								      <div class="table-responsive">
								        <table class="table table-striped table-condensed no-margin">
								          <thead class="text-center">
								            <tr>
								              <th colspan="{{ histogramTable.Input[0].length + 3 }}" style="text-align:left;">
								                <br>
								                <md-input-container>
								                  <input type="text" ng-model="histogramTable.Title" placeholder="Histogram Title" />
								                </md-input-container>
								              </th>
								            </tr>
								            <tr>
								              <th ng-repeat="(inputColIndex, inputCol) in histogramTable.Input[0] track by $index">
								                <md-button class="md-raised md-fab md-mini md-warn btn-w-md md-button md-ink-ripple" ng-transclude="" ng-click="histogramTable.removeInputCol(inputColIndex)">
								                  <span class="ng-scope"><i class="zmdi zmdi-minus"></i></span>
								                  <div class="md-ripple-container"></div>
								                </md-button>
								              </th>
								              <th>
								                <md-button class="md-raised md-fab md-mini md-primary btn-w-md md-button md-ink-ripple" ng-transclude="" ng-click="histogramTable.addInputCol()">
								                  <span class="ng-scope"><i class="zmdi zmdi-plus"></i></span>
								                  <div class="md-ripple-container"></div>
								                </md-button>
								              </th>
								            </tr>
								          </thead>
								          <tbody id="histogram_inputs">
								            <tr ng-repeat="(inputRowIndex, inputRow) in histogramTable.Input track by $index">
								              <td ng-repeat="(inputColIndex, inputCol) in inputRow track by $index">
								                <md-input-container>
								                  <input type="number" ng-model="histogramTable.Input[inputRowIndex][inputColIndex]">
								                </md-input-container>
								              </td>
								              <td colspan="2">
								                <md-button class="md-raised md-fab md-mini md-warn btn-w-md md-button md-ink-ripple" ng-transclude="" ng-click="histogramTable.removeInputRow(inputRowIndex)">
								                  <span class="ng-scope"><i class="zmdi zmdi-minus"></i></span>
								                  <div class="md-ripple-container"></div>
								                </md-button>
								              </td>
								              <td></td>
								            </tr>
								          </tbody>
								          <tfoot>
								            <tr>
								              <td style="border-right:0;" colspan="{{ histogramTable.Input[0].length + 3 }}">
								                <md-button class="md-raised md-fab md-mini md-primary btn-w-md md-button md-ink-ripple" ng-transclude="" ng-click="histogramTable.addInputRow()">
								                  <span class="ng-scope"><i class="zmdi zmdi-plus"></i></span>
								                  <div class="md-ripple-container"></div>
								                </md-button>
								              </td>
								            </tr>
								          </tfoot>
								        </table>
								      </div>
								    </div>
								    <div class="col-sm-12">
								      <div id="histogram-flot-container" style="padding: 20px;">
								        <p class="lead">Data Range: {{histogramData.range}} <br/> Class Width: {{histogramData.cWidth}} <br /></p>
								        <canvas class="chart chart-bar" chart-data="histogramData.data" chart-labels="histogramData.labels" chart-options="histogramData.options"></canvas>
								      </div>
								    </div>
								    <div class="col-sm-12" style="padding-top:10px;">
								      <md-button class="md-raised md-primary btn-w-md md-button md-ink-ripple pull-right" ng-transclude="" ng-click="saveHistogram()" style="margin-left:10px;">
								        <span class="ng-scope">Save Changes</span>
								        <div class="md-ripple-container"></div>
								      </md-button>
								      <md-button class="md-raised md-accent btn-w-md md-button md-ink-ripple pull-right" style="margin-right:10px;" ng-transclude="" ng-click="completePhaseComponent('Measure','Histogram')">
								        <span class="ng-scope">{{(phaseDetail.Histogram.Status != 'working') ? 'Mark Incomplete' : 'Mark Complete'}}</span>
								        <div class="md-ripple-container"></div>
								      </md-button>
								    </div>
								  </div>
								</uib-tab>
								<uib-tab ng-show="valueStreamDiagram.hasProcessMap && diagramType == 'Value Stream Diagram'" ng-click="activateTab(3)" active="activeTab[3]">
									<uib-tab-heading>
										<span>Value Stream Diagram</span>
										<div class="ui-ribbon-container ui-ribbon-success">
											<div class="ui-ribbon-wrapper" ng-show="phaseDetail.Value_Stream_Diagram.Status != 'working'">
												<div class="ui-ribbon">
													<i class="fa fa-fw fa-check"></i>
												</div>
											</div>
										</div>
									</uib-tab-heading>
									<div class="row">
										<div class="col-sm-12">
											<div class="img-full" ng-bind-html="measureValueStreamDiagram"></div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<md-button class="md-raised md-primary btn-w-md md-button md-ink-ripple pull-right" ng-transclude="" ng-click="goToSvgEditor()"><span class="ng-scope">Edit</span><div class="md-ripple-container"></div></md-button>
											<md-button class="md-raised md-accent btn-w-md md-button md-ink-ripple pull-right" style="margin-right:10px;" ng-transclude="" ng-click="completePhaseComponent('Measure','Value Stream Diagram')"><span class="ng-scope">{{(phaseDetail.Value_Stream_Diagram.Status != 'working') ? 'Mark Incomplete' : 'Mark Complete'}}</span><div class="md-ripple-container"></div></md-button>
										</div>
									</div>
								</uib-tab>
								<uib-tab heading="Value Stream Diagram" ng-click="goToSvgEditor()" ng-show="!valueStreamDiagram.hasProcessMap && diagramType == 'Value Stream Diagram'"></uib-tab>
								<uib-tab ng-click="activateTab(5)" active="activeTab[5]">
									<uib-tab-heading>
										<span>Gate Review</span>
										<div class="ui-ribbon-container ui-ribbon-success">
											<div class="ui-ribbon-wrapper" ng-show="phaseDetail.Gate_Review.Status != 'working'">
												<div class="ui-ribbon">
													<i class="fa fa-fw fa-check"></i>
												</div>
											</div>
										</div>
									</uib-tab-heading>
									<div class="row subphase-header">
										<div class="col-sm-12">
											<md-menu md-position-mode="target-right target" class="pull-right">
												<md-button aria-label="Open Menu" class="md-icon-button subphase-menu-button" ng-click="generateGateReviewExportData();$mdOpenMenu($event)">
													<md-icon md-menu-origin><span class="fa fa-info-circle"></span></md-icon>
												</md-button>
												<md-menu-content width="2">
													<md-menu-item>
														<a download="Gate_Review.xlsx" href="{{exportGateReviewBlobLink}}" md-menu-align-target class="md-button md-ink-ripple">Export Data</a>
													</md-menu-item>
												</md-menu-content>
											</md-menu>
										</div>
									</div>
									<div class="row" id="gate-review-tables">
										<div class="col-sm-12">
											<div layout="row" style="min-height:200px">
												<div layout="column" style="border: 1px solid #777; padding:3px" flex>
													<div class="row">
														<div class="col-sm-12">
															<p style="text-align:center">Project Summary/Objective</p>
															<div class="table-responsive">
																<table class="table table-striped table-bordered no-margin">
																	<tbody>
																		<tr ng-repeat="s in gateReviewData | filter: {Quadrant : 1}" ng-show="!s.isDeleted">
																			<td style="text-align:center; width: 45px"><md-button class="md-fab md-warn md-fab-xxs" aria-label="delete" ng-click="deleteRow(gateReviewData,s.arrayId)"><span class="zmdi zmdi-close"></span></md-button></td>
																			<td contentEditable="true" ng-model="gateReviewData[s.arrayId].Detail" ng-bind-html="gateReviewData[s.arrayId].Detail"></td>
																		</tr>
																		<tr><td colspan="2"><div layout="column"><button ui-wave type="button" class="btn btn-warning btn-w-md ui-wave" ng-click="gateReviewAddRow(1)"><span class="ink wave-animate"></span>Add Row</button></div></td></tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div layout="column" style="border: 1px solid #777; padding:3px" flex>
													<div class="row">
														<div class="col-sm-12">
															<p style="text-align:center">Technology/Products</p>
															<div class="table-responsive">
																<table class="table table-striped table-bordered no-margin">
																	<tbody>
																		<tr ng-repeat="s in gateReviewData | filter: {Quadrant : 2}" ng-show="!s.isDeleted">
																			<td style="text-align:center; width: 45px"><md-button class="md-fab md-warn md-fab-xxs" aria-label="delete" ng-click="deleteRow(gateReviewData,s.arrayId)"><span class="zmdi zmdi-close"></span></md-button></td>
																			<td contentEditable="true" ng-model="gateReviewData[s.arrayId].Detail" ng-bind-html="gateReviewData[s.arrayId].Detail"></td>
																		</tr>
																		<tr><td colspan="2"><div layout="column"><button ui-wave type="button" class="btn btn-warning btn-w-md ui-wave" ng-click="gateReviewAddRow(2)"><span class="ink wave-animate"></span>Add Row</button></div></td></tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div layout="row" style="min-height:200px">
												<div layout="column" style="border: 1px solid #777; padding:3px" flex>
													<div class="row">
														<div class="col-sm-12">
															<p style="text-align:center">Schedule/Budget</p>
															<div class="table-responsive">
																<table class="table table-striped table-bordered no-margin">
																	<tbody>
																		<tr ng-repeat="s in gateReviewData | filter: {Quadrant : 3}" ng-show="!s.isDeleted">
																			<td style="text-align:center; width: 45px"><md-button class="md-fab md-warn md-fab-xxs" aria-label="delete" ng-click="deleteRow(gateReviewData,s.arrayId)"><span class="zmdi zmdi-close"></span></md-button></td>
																			<td contentEditable="true" ng-model="gateReviewData[s.arrayId].Detail" ng-bind-html="gateReviewData[s.arrayId].Detail"></td>
																		</tr>
																		<tr><td colspan="2"><div layout="column"><button ui-wave type="button" class="btn btn-warning btn-w-md ui-wave" ng-click="gateReviewAddRow(3)"><span class="ink wave-animate"></span>Add Row</button></div></td></tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div layout="column" style="border: 1px solid #777; padding:3px" flex>
													<div class="row">
														<div class="col-sm-12">
															<p style="text-align:center">Graphic/OV-1</p>
															<div class="table-responsive">
																<table class="table table-striped table-bordered no-margin">
																	<tbody>
																		<tr ng-repeat="s in gateReviewData | filter: {Quadrant : 4}" ng-show="!s.isDeleted">
																			<td style="text-align:center; width: 45px"><md-button class="md-fab md-warn md-fab-xxs" aria-label="delete" ng-click="deleteRow(gateReviewData,s.arrayId)"><span class="zmdi zmdi-close"></span></md-button></td>
																			<td contentEditable="true" ng-model="gateReviewData[s.arrayId].Detail" ng-bind-html="gateReviewData[s.arrayId].Detail"></td>
																		</tr>
																		<tr><td colspan="2"><div layout="column"><button ui-wave type="button" class="btn btn-warning btn-w-md ui-wave" ng-click="gateReviewAddRow(4)"><span class="ink wave-animate"></span>Add Row</button></div></td></tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12" style="margin-top:10px">
											<md-button class="md-raised md-primary btn-w-md md-button md-ink-ripple pull-right" ng-transclude="" ng-click="submitGateReview()"><span class="ng-scope">Save Changes</span><div class="md-ripple-container"></div></md-button>
											<md-button class="md-raised md-accent btn-w-md md-button md-ink-ripple pull-right" style="margin-right:10px;" ng-transclude="" ng-click="completePhaseComponent('Measure','Gate Review')"><span class="ng-scope">{{(phaseDetail.Gate_Review.Status != 'working') ? 'Mark Incomplete' : 'Mark Complete'}}</span><div class="md-ripple-container"></div></md-button>
										</div>
									</div>
									{{blockProjectEditing()}}
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
