<div class="page-forgot" ng-controller="authCtrl">


    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center">
                            <h1><a href="#/">{{main.brand}}</a></h1>
                        </section>
                        <form name="resetPasswordForm">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="email" ng-model="email" name="emailAddress" required class="form-control">
                                        <span class="input-bar"></span>
                                        <label>Email</label>
                                    </div>
                                    <div class="additional-info text-center text-small">
                                       Enter your email address that you used to register. We'll send you an email with your temporary password.
                                   </div>
                               </div>
                           </fieldset>
                       </form>
                   </div>
                   <div class="card-action no-border text-right">
                        <a href="#/" class="color-primary" ng-click="resetPassword()">Reset</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

